*{
    padding: 0;
    margin: 0;
}

/** Empezamos declarando el fondo con el body */

body{
    background-color: #a31a0c;
}
footer{
    width: 100%;
    background-color: #f2eab7;
    text-align: center;
    margin-top: 10px;
}
@media (min-width: 1920px) {
    /** Vamos a declarar todo lo que seria la nav (barra de navegación)**/ 
    
    header{
        position: sticky;
        top: 0;
    }
    nav {
        display: flex;
        position: sticky;
        top: 1px;
        background-color: #c90a02;
        width: 100%;
        height: 100px;
        color: aliceblue;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
       
        
    }
    
    nav a {
        color: inherit;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid transparent;
        background-color: transparent;
        transition: all 0.3s ease;
        border-radius: 5px;
        display: inline-block;
        margin-left: 85px;
    }
    
    .menu ul {
        list-style: none; /* Quitar los puntos de la lista */
        padding: 0; /* Quitar el padding */
        margin: 0; /* Quitar el margen */
        display: flex; /* Hacer que los elementos sean flexibles y se alineen en una fila */
        text-align: center;
        margin-left: 250px;
    }
    
    
    nav a:hover {
        background-color: #f2eab7;
        padding: 10px 20px;
        border: 2px solid black;
        color: black;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    /** Aqui lo que haremos es que a la primera imagen le vamos a dar estilo*/
    
    .Fondo{
        width: 75%;
        margin-left: 15%;
        margin-top: 25px;
    }
    
    /** Vamos a declarar la siguiente introduccion */
    .contenedor-intro {
        display: flex; /* Alinea los elementos en fila */
        align-items: flex-start; /* Alinea los elementos desde arriba */
        padding: 20px;
        gap: 2px; /* Espacio entre la imagen y el texto */
        
    }
    
    #introduccion {
        width: 60%; /* Establece el ancho del contenedor */
        height: 300px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-left: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 20px;
    
    }
    
    .intro-titulo {
        text-align: center;
    }
    
    .intro1-sub {
        margin-bottom: 15px;
    }
    
    
    /*Aqui abajo va a estar el contenedor de la img*/
    .contenedor-foto-1 img {
        width: 500px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    /** Vamos a declarar la siguiente objetivos */
    
    .contenedor-obj {
        display: flex; /* Alinea los hijos en una fila */
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: space-between; /* Añade espacio entre los elementos */
        padding: 20px;
    }
    
    #objetivos {
        width: 80%; /* Establece el ancho del contenedor */
        height: 350px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-right: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 20px;
    }
    
    .titu-obje {
        text-align: center;
    }
    
    .sub-titu {
        margin-bottom: 15px;
        
    }
    .p-obje{
        margin-bottom: 15px;
    }
    .Parra-obje {
        margin-bottom: 15px;
    }
    .importe-obje{
        margin-bottom: 15px;
        margin-left: 35px;
    }
    .contenedor-foto-2 img {
        width: 300px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    /** Vamos a declarar la siguiente mision y vision */
    
    .contenedor-mv {
        display: flex; /* Alinea los hijos en una fila */
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: space-between; /* Añade espacio entre los elementos */
        padding: 20px;
    }
    
    #mision-vision {
        width: 80%; /* Establece el ancho del contenedor */
        height: 350px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-left: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 20px;
    
    }
    .titu-mv{
        text-align: center;
    }
    .sub-mv{
        margin-bottom: 15px;
    }
    .parra-mv{
        margin-bottom: 15px;
    }
    .sub-vm{
        margin-bottom: 15px;
    }
    .parra-vm{
        margin-bottom: 15px;
    }
    
    .contenedor-foto-3 img {
        width: 425px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    
    
    
    
    
    
    
    
    
    
    /*Contacnto */
    
    #contacto {
        
        max-width: 900px; /* Ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor */
        padding: 20px;
        background-color: #f7f7f7; /* Fondo suave */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    }
    
    .titu-con {
        text-align: center;
        font-size: 2rem;
        color: #333;
        margin-bottom: 10px;
    }
    
    .sub-titu {
        text-align: center;
        font-size: 1.2rem;
        
        margin-bottom: 20px;
    }
    
    #contacto-form {
        display: flex;
        flex-direction: column;
    }
    
    #contacto-form label {
        font-size: 1.1rem;
        color: #333;
        margin-bottom: 8px;
        font-weight: bold;
    }
    
    #contacto-form input[type="text"],
    #contacto-form input[type="email"],
    #contacto-form input[type="tel"],
    #contacto-form textarea {
        width: 98%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 1rem;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        
    }
    
    /* Modificaciones para alinear correctamente los radios y etiquetas */
    .opciones-contacto {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .opciones-contacto label {
        margin-left: 10px;
        
    }
    
    #contacto-form button {
        background-color: #c90a02; /* Color principal */
        color: white;
        border: none;
        padding: 12px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    #contacto-form button:hover {
        background-color: #a30801; /* Color más oscuro al hacer hover */
    }
    
    #campo-dinamico label {
        font-weight: bold;
    }
    
    #contacto-form textarea {
        resize: none; /* Evita que el usuario cambie el tamaño del textarea */
    }
    
    .parra-con {
        text-align: center;
        font-size: 1rem;
        margin-top: 20px;
        color: #666;
    }
    
    .parra-con a {
        color: #c90a02; /* Color del enlace */
        text-decoration: none;
        font-weight: bold;
    }
    
    .parra-con a:hover {
        text-decoration: underline;
    }
    }

@media (min-width: 1440px){
/** Vamos a declarar todo lo que seria la nav (barra de navegación)**/ 

header{
    position: sticky;
    top: 0;
}
nav {
    display: flex;
    position: sticky;
    top: 1px;
    background-color: #c90a02;
    width: 100%;
    height: 100px;
    color: aliceblue;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
   
    
}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent;
    background-color: transparent;
    transition: all 0.3s ease;
    border-radius: 5px;
    display: inline-block;
    margin-left: 85px;
}

.menu ul {
    list-style: none; /* Quitar los puntos de la lista */
    padding: 0; /* Quitar el padding */
    margin: 0; /* Quitar el margen */
    display: flex; /* Hacer que los elementos sean flexibles y se alineen en una fila */
    text-align: center;
    margin-left: 250px;
}


nav a:hover {
    background-color: #f2eab7;
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/** Aqui lo que haremos es que a la primera imagen le vamos a dar estilo*/

.Fondo{
    width: 75%;
    margin-left: 15%;
    margin-top: 25px;
}

/** Vamos a declarar la siguiente introduccion */
.contenedor-intro {
    display: flex; /* Alinea los elementos en fila */
    align-items: flex-start; /* Alinea los elementos desde arriba */
    padding: 20px;
    gap: 2px; /* Espacio entre la imagen y el texto */
    
}

#introduccion {
    width: 60%; /* Establece el ancho del contenedor */
    height: 300px; /* Establece la altura del contenedor */
    margin-top: 30px;
    margin-left: 35px;
    text-align: justify;
    background-color: #c90a02;
    border: solid black 5px;
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
    overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
    font-size: 20px;

}

.intro-titulo {
    text-align: center;
}

.intro1-sub {
    margin-bottom: 15px;
}


/*Aqui abajo va a estar el contenedor de la img*/
.contenedor-foto-1 img {
    width: 500px; /* La imagen no excede el ancho del contenedor */
    height: auto; /* Ajusta la altura proporcionalmente */
}

/** Vamos a declarar la siguiente objetivos */

.contenedor-obj {
    display: flex; /* Alinea los hijos en una fila */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Añade espacio entre los elementos */
    padding: 20px;
}

#objetivos {
    width: 80%; /* Establece el ancho del contenedor */
    height: 350px; /* Establece la altura del contenedor */
    margin-top: 30px;
    margin-right: 35px;
    text-align: justify;
    background-color: #c90a02;
    border: solid black 5px;
    border-radius: 25px;
    padding: 15px;
    
    box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
    overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
    font-size: 20px;
}

.titu-obje {
    text-align: center;
}

.sub-titu {
    margin-bottom: 15px;
    
}
.p-obje{
    margin-bottom: 15px;
}
.Parra-obje {
    margin-bottom: 15px;
}
.importe-obje{
    margin-bottom: 15px;
    margin-left: 35px;
}
.contenedor-foto-2 img {
    width: 300px; /* La imagen no excede el ancho del contenedor */
    height: auto; /* Ajusta la altura proporcionalmente */
}

/** Vamos a declarar la siguiente mision y vision */

.contenedor-mv {
    display: flex; /* Alinea los hijos en una fila */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Añade espacio entre los elementos */
    padding: 20px;
}

#mision-vision {
    width: 80%; /* Establece el ancho del contenedor */
    height: 350px; /* Establece la altura del contenedor */
    margin-top: 30px;
    margin-left: 35px;
    text-align: justify;
    background-color: #c90a02;
    border: solid black 5px;
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
    overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
    font-size: 20px;

}
.titu-mv{
    text-align: center;
}
.sub-mv{
    margin-bottom: 15px;
}
.parra-mv{
    margin-bottom: 15px;
}
.sub-vm{
    margin-bottom: 15px;
}
.parra-vm{
    margin-bottom: 15px;
}

.contenedor-foto-3 img {
    width: 425px; /* La imagen no excede el ancho del contenedor */
    height: auto; /* Ajusta la altura proporcionalmente */
}











/*Contacnto */

#contacto {
    
    max-width: 900px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px;
    background-color: #f7f7f7; /* Fondo suave */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
}

.titu-con {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.sub-titu {
    text-align: center;
    font-size: 1.2rem;
    
    margin-bottom: 20px;
}

#contacto-form {
    display: flex;
    flex-direction: column;
}

#contacto-form label {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 8px;
    font-weight: bold;
}

#contacto-form input[type="text"],
#contacto-form input[type="email"],
#contacto-form input[type="tel"],
#contacto-form textarea {
    width: 98%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    
}

/* Modificaciones para alinear correctamente los radios y etiquetas */
.opciones-contacto {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.opciones-contacto label {
    margin-left: 10px;
    
}

#contacto-form button {
    background-color: #c90a02; /* Color principal */
    color: white;
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contacto-form button:hover {
    background-color: #a30801; /* Color más oscuro al hacer hover */
}

#campo-dinamico label {
    font-weight: bold;
}

#contacto-form textarea {
    resize: none; /* Evita que el usuario cambie el tamaño del textarea */
}

.parra-con {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    color: #666;
}

.parra-con a {
    color: #c90a02; /* Color del enlace */
    text-decoration: none;
    font-weight: bold;
}

.parra-con a:hover {
    text-decoration: underline;
}
}
@media (min-width: 1280px) {
    /** Vamos a declarar todo lo que seria la nav (barra de navegación)**/ 
    
    header{
        position: sticky;
        top: 0;
    }
    nav {
        display: flex;
        position: sticky;
        top: 1px;
        background-color: #c90a02;
        width: 100%;
        height: 100px;
        color: aliceblue;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
       
        
    }
    
    nav a {
        color: inherit;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid transparent;
        background-color: transparent;
        transition: all 0.3s ease;
        border-radius: 5px;
        display: inline-block;
        margin-left: 35px;
        font-size: 20px;
    }
    
    .menu ul {
        list-style: none; /* Quitar los puntos de la lista */
        padding: 0; /* Quitar el padding */
        margin: 0; /* Quitar el margen */
        display: flex; /* Hacer que los elementos sean flexibles y se alineen en una fila */
        text-align: center;
        margin-left: 250px;
    }
    
    
    nav a:hover {
        background-color: #f2eab7;
        padding: 10px 20px;
        border: 2px solid black;
        color: black;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    /** Aqui lo que haremos es que a la primera imagen le vamos a dar estilo*/
    
    .Fondo{
        width: 75%;
        margin-left: 15%;
        margin-top: 25px;
    }
    
    /** Vamos a declarar la siguiente introduccion */
    .contenedor-intro {
        display: flex; /* Alinea los elementos en fila */
        align-items: flex-start; /* Alinea los elementos desde arriba */
        padding: 20px;
        gap: 2px; /* Espacio entre la imagen y el texto */
        
    }
    
    #introduccion {
        width: 60%; /* Establece el ancho del contenedor */
        height: 300px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-left: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 20px;
    
    }
    
    .intro-titulo {
        text-align: center;
    }
    
    .intro1-sub {
        margin-bottom: 15px;
    }
    
    
    /*Aqui abajo va a estar el contenedor de la img*/
    .contenedor-foto-1 img {
        width: 500px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    /** Vamos a declarar la siguiente objetivos */
    
    .contenedor-obj {
        display: flex; /* Alinea los hijos en una fila */
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: space-between; /* Añade espacio entre los elementos */
        padding: 20px;
    }
    
    #objetivos {
        width: 80%; /* Establece el ancho del contenedor */
        height: 425px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-right: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 20px;
    }
    
    .titu-obje {
        text-align: center;
    }
    
    .sub-titu {
        margin-bottom: 15px;
        
    }
    .p-obje{
        margin-bottom: 15px;
    }
    .Parra-obje {
        margin-bottom: 15px;
    }
    .importe-obje{
        margin-bottom: 15px;
        margin-left: 35px;
    }
    .contenedor-foto-2 img {
        width: 300px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    /** Vamos a declarar la siguiente mision y vision */
    
    .contenedor-mv {
        display: flex; /* Alinea los hijos en una fila */
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: space-between; /* Añade espacio entre los elementos */
        padding: 20px;
    }
    
    #mision-vision {
        width: 80%; /* Establece el ancho del contenedor */
        height: 350px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-left: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 20px;
    
    }
    .titu-mv{
        text-align: center;
    }
    .sub-mv{
        margin-bottom: 15px;
    }
    .parra-mv{
        margin-bottom: 15px;
    }
    .sub-vm{
        margin-bottom: 15px;
    }
    .parra-vm{
        margin-bottom: 15px;
    }
    
    .contenedor-foto-3 img {
        width: 425px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    
    
    
    
    
    
    
    
    
    
    /*Contacnto */
    
    #contacto {
        
        max-width: 900px; /* Ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor */
        padding: 20px;
        background-color: #f7f7f7; /* Fondo suave */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    }
    
    .titu-con {
        text-align: center;
        font-size: 2rem;
        color: #333;
        margin-bottom: 10px;
    }
    
    .sub-titu {
        text-align: center;
        font-size: 1.2rem;
        
        margin-bottom: 20px;
    }
    
    #contacto-form {
        display: flex;
        flex-direction: column;
    }
    
    #contacto-form label {
        font-size: 1.1rem;
        color: #333;
        margin-bottom: 8px;
        font-weight: bold;
    }
    
    #contacto-form input[type="text"],
    #contacto-form input[type="email"],
    #contacto-form input[type="tel"],
    #contacto-form textarea {
        width: 98%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 1rem;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        
    }
    
    /* Modificaciones para alinear correctamente los radios y etiquetas */
    .opciones-contacto {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .opciones-contacto label {
        margin-left: 10px;
        
    }
    
    #contacto-form button {
        background-color: #c90a02; /* Color principal */
        color: white;
        border: none;
        padding: 12px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    #contacto-form button:hover {
        background-color: #a30801; /* Color más oscuro al hacer hover */
    }
    
    #campo-dinamico label {
        font-weight: bold;
    }
    
    #contacto-form textarea {
        resize: none; /* Evita que el usuario cambie el tamaño del textarea */
    }
    
    .parra-con {
        text-align: center;
        font-size: 1rem;
        margin-top: 20px;
        color: #666;
    }
    
    .parra-con a {
        color: #c90a02; /* Color del enlace */
        text-decoration: none;
        font-weight: bold;
    }
    
    .parra-con a:hover {
        text-decoration: underline;
    } 
 }
@media (min-width: 1024px) {
    /** Vamos a declarar todo lo que seria la nav (barra de navegación)**/ 
    
    header{
        position: sticky;
        top: 0;
    }
    nav {
        display: flex;
        position: sticky;
        top: 1px;
        background-color: #c90a02;
        width: 100%;
        height: 100px;
        color: aliceblue;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
       
        
    }
    
    nav a {
        color: inherit;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid transparent;
        background-color: transparent;
        transition: all 0.3s ease;
        border-radius: 5px;
        display: inline-block;
        margin-left: 35px;
        font-size: 20px;
    }
    
    .menu ul {
        list-style: none; /* Quitar los puntos de la lista */
        padding: 0; /* Quitar el padding */
        margin: 0; /* Quitar el margen */
        display: flex; /* Hacer que los elementos sean flexibles y se alineen en una fila */
        text-align: center;
        margin-left: 250px;
    }
    
    
    nav a:hover {
        background-color: #f2eab7;
        padding: 10px 20px;
        border: 2px solid black;
        color: black;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    /** Aqui lo que haremos es que a la primera imagen le vamos a dar estilo*/
    
    .Fondo{
        width: 75%;
        margin-left: 15%;
        margin-top: 25px;
    }
    
    /** Vamos a declarar la siguiente introduccion */
    .contenedor-intro {
        display: flex; /* Alinea los elementos en fila */
        align-items: flex-start; /* Alinea los elementos desde arriba */
        padding: 20px;
        gap: 2px; /* Espacio entre la imagen y el texto */
        
    }
    
    #introduccion {
        width: 60%; /* Establece el ancho del contenedor */
        height: 300px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-left: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 20px;
    
    }
    
    .intro-titulo {
        text-align: center;
    }
    
    .intro1-sub {
        margin-bottom: 15px;
    }
    
    
    /*Aqui abajo va a estar el contenedor de la img*/
    .contenedor-foto-1 img {
        width: 500px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    /** Vamos a declarar la siguiente objetivos */
    
    .contenedor-obj {
        display: flex; /* Alinea los hijos en una fila */
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: space-between; /* Añade espacio entre los elementos */
        padding: 20px;
    }
    
    #objetivos {
        width: 80%; /* Establece el ancho del contenedor */
        height: 425px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-right: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 20px;
    }
    
    .titu-obje {
        text-align: center;
    }
    
    .sub-titu {
        margin-bottom: 15px;
        
    }
    .p-obje{
        margin-bottom: 15px;
    }
    .Parra-obje {
        margin-bottom: 15px;
    }
    .importe-obje{
        margin-bottom: 15px;
        margin-left: 35px;
    }
    .contenedor-foto-2 img {
        width: 300px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    /** Vamos a declarar la siguiente mision y vision */
    
    .contenedor-mv {
        display: flex; /* Alinea los hijos en una fila */
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: space-between; /* Añade espacio entre los elementos */
        padding: 20px;
    }
    
    #mision-vision {
        width: 80%; /* Establece el ancho del contenedor */
        height: 350px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-left: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 20px;
    
    }
    .titu-mv{
        text-align: center;
    }
    .sub-mv{
        margin-bottom: 15px;
    }
    .parra-mv{
        margin-bottom: 15px;
    }
    .sub-vm{
        margin-bottom: 15px;
    }
    .parra-vm{
        margin-bottom: 15px;
    }
    
    .contenedor-foto-3 img {
        width: 425px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    
    
    
    
    
    
    
    
    
    
    /*Contacnto */
    
    #contacto {
        
        max-width: 900px; /* Ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor */
        padding: 20px;
        background-color: #f7f7f7; /* Fondo suave */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    }
    
    .titu-con {
        text-align: center;
        font-size: 2rem;
        color: #333;
        margin-bottom: 10px;
    }
    
    .sub-titu {
        text-align: center;
        font-size: 1.2rem;
        
        margin-bottom: 20px;
    }
    
    #contacto-form {
        display: flex;
        flex-direction: column;
    }
    
    #contacto-form label {
        font-size: 1.1rem;
        color: #333;
        margin-bottom: 8px;
        font-weight: bold;
    }
    
    #contacto-form input[type="text"],
    #contacto-form input[type="email"],
    #contacto-form input[type="tel"],
    #contacto-form textarea {
        width: 98%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 1rem;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        
    }
    
    /* Modificaciones para alinear correctamente los radios y etiquetas */
    .opciones-contacto {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .opciones-contacto label {
        margin-left: 10px;
        
    }
    
    #contacto-form button {
        background-color: #c90a02; /* Color principal */
        color: white;
        border: none;
        padding: 12px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    #contacto-form button:hover {
        background-color: #a30801; /* Color más oscuro al hacer hover */
    }
    
    #campo-dinamico label {
        font-weight: bold;
    }
    
    #contacto-form textarea {
        resize: none; /* Evita que el usuario cambie el tamaño del textarea */
    }
    
    .parra-con {
        text-align: center;
        font-size: 1rem;
        margin-top: 20px;
        color: #666;
    }
    
    .parra-con a {
        color: #c90a02; /* Color del enlace */
        text-decoration: none;
        font-weight: bold;
    }
    
    .parra-con a:hover {
        text-decoration: underline;
    } 
 }
 @media (max-width: 1024px) {
    /** Vamos a declarar todo lo que seria la nav (barra de navegación)**/ 
    
    header{
        position: sticky;
        top: 0;
    }
    nav {
        display: flex;
        position: sticky;
        top: 1px;
        background-color: #c90a02;
        width: 100%;
        height: 100px;
        color: aliceblue;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
       
        
    }
    
    nav a {
        color: inherit;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid transparent;
        background-color: transparent;
        transition: all 0.3s ease;
        border-radius: 5px;
        display: inline-block;
        margin-left: 15px;
        font-size: 15px;
    }
    
    .menu ul {
        list-style: none; /* Quitar los puntos de la lista */
        padding: 0; /* Quitar el padding */
        margin: 0; /* Quitar el margen */
        display: flex; /* Hacer que los elementos sean flexibles y se alineen en una fila */
        text-align: center;
        margin-left: 250px;
    }
    
    
    nav a:hover {
        background-color: #f2eab7;
        padding: 10px 20px;
        border: 2px solid black;
        color: black;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    /** Aqui lo que haremos es que a la primera imagen le vamos a dar estilo*/
    
    .Fondo{
        width: 75%;
        margin-left: 15%;
        margin-top: 25px;
    }
    
    /** Vamos a declarar la siguiente introduccion */
    .contenedor-intro {
        display: flex; /* Alinea los elementos en fila */
        align-items: flex-start; /* Alinea los elementos desde arriba */
        padding: 20px;
        gap: 2px; /* Espacio entre la imagen y el texto */
        
    }
    
    #introduccion {
        width: 60%; /* Establece el ancho del contenedor */
        height: 300px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-left: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 20px;
    
    }
    
    .intro-titulo {
        text-align: center;
    }
    
    .intro1-sub {
        margin-bottom: 15px;
    }
    
    
    /*Aqui abajo va a estar el contenedor de la img*/
    .contenedor-foto-1 img {
        width: 500px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    /** Vamos a declarar la siguiente objetivos */
    
    .contenedor-obj {
        display: flex; /* Alinea los hijos en una fila */
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: space-between; /* Añade espacio entre los elementos */
        padding: 20px;
    }
    
    #objetivos {
        width: 80%; /* Establece el ancho del contenedor */
        height: 425px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-right: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 20px;
    }
    
    .titu-obje {
        text-align: center;
    }
    
    .sub-titu {
        margin-bottom: 15px;
      
    }
    .p-obje{
        margin-bottom: 15px;
    }
    .Parra-obje {
        margin-bottom: 15px;
    }
    .importe-obje{
        margin-bottom: 15px;
        margin-left: 35px;
    }
    .contenedor-foto-2 img {
        width: 300px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    /** Vamos a declarar la siguiente mision y vision */
    
    .contenedor-mv {
        display: flex; /* Alinea los hijos en una fila */
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: space-between; /* Añade espacio entre los elementos */
        padding: 20px;
    }
    
    #mision-vision {
        width: 80%; /* Establece el ancho del contenedor */
        height: 350px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-left: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 20px;
    
    }
    .titu-mv{
        text-align: center;
    }
    .sub-mv{
        margin-bottom: 15px;
    }
    .parra-mv{
        margin-bottom: 15px;
    }
    .sub-vm{
        margin-bottom: 15px;
    }
    .parra-vm{
        margin-bottom: 15px;
    }
    
    .contenedor-foto-3 img {
        width: 425px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    
    
    
    
    
    
    
    
    
    
    /*Contacnto */
    
    #contacto {
        
        max-width: 900px; /* Ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor */
        padding: 20px;
        background-color: #f7f7f7; /* Fondo suave */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    }
    
    .titu-con {
        text-align: center;
        font-size: 2rem;
        color: #333;
        margin-bottom: 10px;
    }
    
    .sub-titu {
        text-align: center;
        font-size: 1.2rem;
        
        margin-bottom: 20px;
    }
    
    #contacto-form {
        display: flex;
        flex-direction: column;
    }
    
    #contacto-form label {
        font-size: 1.1rem;
        color: #333;
        margin-bottom: 8px;
        font-weight: bold;
    }
    
    #contacto-form input[type="text"],
    #contacto-form input[type="email"],
    #contacto-form input[type="tel"],
    #contacto-form textarea {
        width: 98%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 1rem;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        
    }
    
    /* Modificaciones para alinear correctamente los radios y etiquetas */
    .opciones-contacto {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .opciones-contacto label {
        margin-left: 10px;
        
    }
    
    #contacto-form button {
        background-color: #c90a02; /* Color principal */
        color: white;
        border: none;
        padding: 12px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    #contacto-form button:hover {
        background-color: #a30801; /* Color más oscuro al hacer hover */
    }
    
    #campo-dinamico label {
        font-weight: bold;
    }
    
    #contacto-form textarea {
        resize: none; /* Evita que el usuario cambie el tamaño del textarea */
    }
    
    .parra-con {
        text-align: center;
        font-size: 1rem;
        margin-top: 20px;
        color: #666;
    }
    
    .parra-con a {
        color: #c90a02; /* Color del enlace */
        text-decoration: none;
        font-weight: bold;
    }
    
    .parra-con a:hover {
        text-decoration: underline;
    } 
 }
 @media (max-width: 768px) {
    /** Vamos a declarar todo lo que seria la nav (barra de navegación)**/ 
    
    header{
        position: sticky;
        top: 0;
    }
    nav {
        display: flex;
        position: sticky;
        top: 1px;
        background-color: #c90a02;
        width: 100%;
        height: 100px;
        color: aliceblue;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
       
        
    }
    
    nav a {
        color: inherit;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid transparent;
        background-color: transparent;
        transition: all 0.3s ease;
        border-radius: 5px;
        display: inline-block;
        margin-left: 0px;
        font-size: 15px;
    }
    
    .menu ul {
        list-style: none; /* Quitar los puntos de la lista */
        padding: 0; /* Quitar el padding */
        margin: 0; /* Quitar el margen */
        display: flex; /* Hacer que los elementos sean flexibles y se alineen en una fila */
        text-align: center;
        margin-left: 125px;
    }
    
    
    nav a:hover {
        background-color: #f2eab7;
        padding: 10px 20px;
        border: 2px solid black;
        color: black;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    /** Aqui lo que haremos es que a la primera imagen le vamos a dar estilo*/
    
    .Fondo{
        width: 75%;
        margin-left: 15%;
        margin-top: 25px;
    }
    
    /** Vamos a declarar la siguiente introduccion */
    .contenedor-intro {
        display: flex; /* Alinea los elementos en fila */
        align-items: flex-start; /* Alinea los elementos desde arriba */
        padding: 20px;
        gap: 2px; /* Espacio entre la imagen y el texto */
        
    }
    
    #introduccion {
        width: 60%; /* Establece el ancho del contenedor */
        height: 300px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-left: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 15px;
    
    }
    
    .intro-titulo {
        text-align: center;
    }
    
    .intro1-sub {
        margin-bottom: 15px;
    }
    
    
    /*Aqui abajo va a estar el contenedor de la img*/
    .contenedor-foto-1 img {
        width: 300px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
        margin-top: 70px;
    }
    
    /** Vamos a declarar la siguiente objetivos */
    
    .contenedor-obj {
        display: flex; /* Alinea los hijos en una fila */
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: space-between; /* Añade espacio entre los elementos */
        padding: 20px;
    }
    
    #objetivos {
        width: 80%; /* Establece el ancho del contenedor */
        height: 425px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-right: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 15px;
    }
    
    .titu-obje {
        text-align: center;
    }
    
    .sub-titu {
        margin-bottom: 15px;
    }
    .p-obje{
        margin-bottom: 15px;
    }
    .Parra-obje {
        margin-bottom: 15px;
    }
    .importe-obje{
        margin-bottom: 15px;
        margin-left: 35px;
    }
    .contenedor-foto-2 img {
        width: 200px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    /** Vamos a declarar la siguiente mision y vision */
    
    .contenedor-mv {
        display: flex; /* Alinea los hijos en una fila */
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: space-between; /* Añade espacio entre los elementos */
        padding: 20px;
    }
    
    #mision-vision {
        width: 80%; /* Establece el ancho del contenedor */
        height: 350px; /* Establece la altura del contenedor */
        margin-top: 30px;
        margin-left: 35px;
        text-align: justify;
        background-color: #c90a02;
        border: solid black 5px;
        border-radius: 25px;
        padding: 15px;
        box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el tamaño */
        overflow: auto; /* Permite scroll si el contenido excede el tamaño establecido */
        font-size: 15px;
    
    }
    .titu-mv{
        text-align: center;
    }
    .sub-mv{
        margin-bottom: 15px;
    }
    .parra-mv{
        margin-bottom: 15px;
    }
    .sub-vm{
        margin-bottom: 15px;
    }
    .parra-vm{
        margin-bottom: 15px;
    }
    
    .contenedor-foto-3 img {
        width: 300px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    
    
    
    
    
    
    
    
    
    
    
    /*Contacnto */
    
    #contacto {
        
        max-width: 900px; /* Ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor */
        padding: 20px;
        background-color: #f7f7f7; /* Fondo suave */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    }
    
    .titu-con {
        text-align: center;
        font-size: 2rem;
        color: #333;
        margin-bottom: 10px;
    }
    
    .sub-titu {
        text-align: center;
        font-size: 1.2rem;
        
        margin-bottom: 20px;
    }
    
    #contacto-form {
        display: flex;
        flex-direction: column;
    }
    
    #contacto-form label {
        font-size: 1.1rem;
        color: #333;
        margin-bottom: 8px;
        font-weight: bold;
    }
    
    #contacto-form input[type="text"],
    #contacto-form input[type="email"],
    #contacto-form input[type="tel"],
    #contacto-form textarea {
        width: 98%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 1rem;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        
    }
    
    /* Modificaciones para alinear correctamente los radios y etiquetas */
    .opciones-contacto {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .opciones-contacto label {
        margin-left: 10px;
        
    }
    
    #contacto-form button {
        background-color: #c90a02; /* Color principal */
        color: white;
        border: none;
        padding: 12px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    #contacto-form button:hover {
        background-color: #a30801; /* Color más oscuro al hacer hover */
    }
    
    #campo-dinamico label {
        font-weight: bold;
    }
    
    #contacto-form textarea {
        resize: none; /* Evita que el usuario cambie el tamaño del textarea */
    }
    
    .parra-con {
        text-align: center;
        font-size: 1rem;
        margin-top: 20px;
        color: #666;
    }
    
    .parra-con a {
        color: #c90a02; /* Color del enlace */
        text-decoration: none;
        font-weight: bold;
    }
    
    .parra-con a:hover {
        text-decoration: underline;
    } 
 }
 @media (max-width: 480px) {
    /* Manteniendo el estilo de la barra de navegación */
    header {
        position: sticky;
        top: 0;
    }

    nav {
        display: flex;
        position: sticky;
        top: 1px;
        background-color: #c90a02;
        width: 100%;
        height: 100px;
        color: aliceblue;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
    }

    nav a {
        color: inherit;
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid transparent;
        background-color: transparent;
        transition: all 0.3s ease;
        border-radius: 5px;
        display: inline-block;
        margin-left: 0px;
        font-size: 12px;
    }

    .menu ul {
        list-style: none; /* Quitar los puntos de la lista */
        padding: 0;
        margin: 0;
        display: flex;
        text-align: center;
        margin-left: 1px;
    }

    nav a:hover {
        background-color: #f2eab7;
        padding: 10px 20px;
        border: 2px solid black;
        color: black;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .Fondo {
        width: 75%;
        margin-left: 15%;
        margin-top: 25px;
    }

    /* Modificación para cambiar el orden de los elementos */
    .contenedor-intro {
        display: flex;
        flex-direction: column-reverse; /* Imagen a la izquierda, imagen primero en pantallas pequeñas */
        align-items: center;
        padding: 20px;
        gap: 2px;
        
    }
    #introduccion{
        width: 100%;
    }
    .contenedor-foto-1 img {
        width: 450px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    .contenedor-obj {
        display: flex;
        flex-direction: column; /* Imagen a la derecha, texto primero en pantallas pequeñas */
        align-items: center;
        padding: 20px;
        gap: 2px;
    }
    #objetivos{
        width: 100%;
        margin-left: 50px;
        margin-bottom: 50px;
    }
    .contenedor-foto-2 img {
        width: 400px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    .contenedor-mv {
        display: flex;
        flex-direction: column-reverse; /* Imagen a la izquierda, imagen primero en pantallas pequeñas */
        align-items: center;
        padding: 20px;
        gap: 2px;
    }
    #mision-vision{
        width: 100%;
        margin-left: 25px;
        margin-bottom: 50px;
   }
   .contenedor-foto-3 img {
    width: 450px; /* La imagen no excede el ancho del contenedor */
    height: auto; /* Ajusta la altura proporcionalmente */
}
}
@media (max-width: 320px) {
    /* Manteniendo el estilo de la barra de navegación */
    header {
        position: sticky;
        top: 0;
    }

    nav {
        display: flex;
        position: sticky;
        top: 1px;
        background-color: #c90a02;
        width: 100%;
        height: 100px;
        color: aliceblue;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
    }

    nav a {
        color: inherit;
        text-decoration: none;
        padding: 10px 8px;
        border: 2px solid transparent;
        background-color: transparent;
        transition: all 0.3s ease;
        border-radius: 5px;
        display: inline-block;
        margin-left: 0px;
        font-size: 10px;
    }

    .menu ul {
        list-style: none; /* Quitar los puntos de la lista */
        padding: 0;
        margin: 0;
        display: flex;
        text-align: center;
        margin-left: 1px;
    }

    nav a:hover {
        background-color: #f2eab7;
        padding: 10px 20px;
        border: 2px solid black;
        color: black;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .Fondo {
        width: 300px;
        margin-left: 2.5%;
        margin-top: 25px;
    }

    /* Modificación para cambiar el orden de los elementos */
    .contenedor-intro {
        display: flex;
        flex-direction: column-reverse; /* Imagen a la izquierda, imagen primero en pantallas pequeñas */
        align-items: center;
        padding: 20px;
        gap: 2px;
        
    }
    #introduccion{
        width: 100%;
        margin-left: 10px;
        font-size: 12px;
    }
    .contenedor-foto-1 img {
        width: 250px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    .contenedor-obj {
        display: flex;
        flex-direction: column; /* Imagen a la derecha, texto primero en pantallas pequeñas */
        align-items: center;
        padding: 20px;
        gap: 2px;
    }
    #objetivos{
        width: 100%;
        margin-left: 30px;
        font-size: 12px;
    }
    .contenedor-foto-2 img {
        width: 200px; /* La imagen no excede el ancho del contenedor */
        height: auto; /* Ajusta la altura proporcionalmente */
    }
    .contenedor-mv {
        display: flex;
        flex-direction: column-reverse; /* Imagen a la izquierda, imagen primero en pantallas pequeñas */
        align-items: center;
        padding: 20px;
        gap: 2px;
    }
    #mision-vision{
        width: 100%;
        margin-left: 8px;
        font-size: 12px;
   }
   .contenedor-foto-3 img {
    width: 250px; /* La imagen no excede el ancho del contenedor */
    height: auto; /* Ajusta la altura proporcionalmente */
}
}

 















 